/* ---------------------------------------------------------------------- */
/*  Appointment Modal
/* ---------------------------------------------------------------------- */
#modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: 9999; }

#modal-overlay #appointment-form {
	position: absolute;
	top: 30%;
	padding: 60px 30px 50px;
	background: #08cae8;
	text-align: center; }


#appointment-form input.error,
#appointment-form textarea.error {
	border-color: red;
}


#appointment-form {
	margin: 20px 0 0; }

#appointment-form .input {
	position: relative;
	margin: 0 0 25px;
	padding: 0;
}

#appointment-form input[type="text"],
#appointment-form input[type="email"] {
	display: block;
	padding-left: 40px;
	width: 100%;
	height: 45px;
	background: transparent;
	color: #fff;
	-webkit-appearance: none;
    appearance: none;
    border: 2px solid #ebebeb;
}

#appointment-form input[type="text"]::-webkit-input-placeholder {
	color: #fff; }

#appointment-form input[type="text"]:-moz-placeholder {
	/* Firefox 18- */
	color: #fff; }

#appointment-form input[type="text"]::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff; }

#appointment-form input[type="text"]:-ms-input-placeholder {
	color: #fff; }

#appointment-form input[type="email"]::-webkit-input-placeholder {
	color: #fff; }

#appointment-form input[type="email"]:-moz-placeholder {
	/* Firefox 18- */
	color: #fff; }

#appointment-form input[type="email"]::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff; }

#appointment-form input[type="email"]:-ms-input-placeholder {
	color: #fff; }

#appointment-form textarea {
	display: block;
	padding-top: 12px;
	padding-left: 40px;
	width: 100%;
	height: 115px;
	background: transparent;
	color: #fff;
	border: 2px solid #ebebeb;
}

#appointment-form textarea::-webkit-input-placeholder {
	color: #fff; }

#appointment-form textarea:-moz-placeholder {
	/* Firefox 18- */
	color: #fff; }

#appointment-form textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff; }

#appointment-form textarea:-ms-input-placeholder {
	color: #fff; }

#appointment-form .input:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 45px;
	font-family: 'Nucleo Glyph';
	text-align: center;
	line-height: 45px;
	color: #FFF;
}
#mt-popup-modal #appointment-form input[type="submit"],
#mt-popup-modal #appointment-form button[type="submit"] {
    border: 2px solid #fff;
    color: #fff;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    padding: 12px 35px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
}

#mt-popup-modal #appointment-form input[type="submit"]:hover,
#mt-popup-modal #appointment-form button[type="submit"]:hover {
	background-color: #fff;
	color: #08cae8;
}

#appointment-form .input.regina-name-input:after,
#appointment-form .input.name:after {
	content: "\e64c";
}

#appointment-form .input.regina-phone-input:after,
#appointment-form .input.phone:after {
	content: "\e6ff";
}

#appointment-form .input.regina-email-input:after,
#appointment-form .input.email:after {
	content: "\e686";
}

#appointment-form .input.regina-date-input:after,
#appointment-form .input.date:after {
	content: "\e665";
}

#appointment-form .input.regina-message-input:after,
#appointment-form .input.message:after {
	content: "\e6a4";
}



.modaloverlay {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	z-index: -1;
	display: none;
}
.modaloverlay:target {
	display: block;
	opacity: 1;
	pointer-events: auto;
	z-index: 99999;
}
.modaloverlay .mt-modal{
	background-color: #08cae8;
	text-align: center;
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 3em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

	.mt-modal h1,
	.mt-modal p {
		color: #FFF;
	}

@media (min-width: 60em) {
	.modaloverlay .mt-modal{
		height: 65%;
		margin: 5% auto;
		max-height: 57em;
		max-width: 66em;
		width: 85%;
		border-radius: 15px;
	}
}
.modaloverlay .mt-modal> iframe,
.modaloverlay .mt-modal> div {
	border: none;
	width: 100%;
	height: 100%;
}
.modaloverlay .mt-close {
	background-color: white;
	font-size: 24px;
	padding: 8px 12px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	z-index: 1;
	border-bottom-left-radius: 15px;
}

