.section {
    background: #fff;
    padding: 60px 0;
}

.section-heading {
    position: relative;
    margin: 0 0 60px;
    text-align: center;
    line-height: 1.2;
    font-size: 2.5em;
}

.section-subtitle {
	font-size: 0.5em;
	margin-bottom: 12px;    
	opacity: 0.5;
	position: relative;
	display: inline-block;
}