.tagline {
    padding: 60px 0;
    background: rgba(30, 30, 30, 0.4);
    text-align: center;
}

.tagline-body {
}

.tagline-title {
    font-size: 2.5em;
	margin: 0 0 5px;
}

.tagline-content {
    margin: 0 auto;
    font-size: 1.6em;
}

.tagline-link {
    margin: 30px auto 30px;
}

.tagline-image {
    display: block;
    margin: 0 auto 30px;
}