.has-dark-gray-color {
	color: #333333;
}

.has-dark-gray-background-color {
	background-color: #333333;
}

.has-gray-color {
	color:#7b7d7f;
}

.has-gray-background-color {
	background-color: #7b7d7f;
}

.primary-color {
	color: #22c0e3;
}

.primary-color-bg {
    background-color: #22c0e3;
}

.secondary-color {
	color: #424247;
}

.secondary-color-bg {
    background-color: #424247;
}