/* Spacer Shortcode */
.mt-separator {
  height: 5px;
  width: 100%;
}
.mt-separator.solid {
  border-top: 1px solid #ddd;
}
.mt-separator.dashed {
  border-top: 1px dashed #ddd;
}
.mt-separator.double {
  border-top: 2px double #ddd;
}

/* Button Shortcode */

.entry-content a.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    border-bottom: 1px solid #adadad;
}
.btn-xs {
    padding: 6px 12px;
}
.btn-sm {
    padding: 8px 16px;
}
.btn-md {
    padding: 10px 20px;
}
.btn-lg {
    padding: 14px 28px;
}
body .entry-content a.btn {
    margin: 10px;
    display: inline-block;
    border-color: #ccc;
}

/* Heading Shortcode */

.mt-heading {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding-bottom: 20px;
}
.mt-heading span {
    background: #fff;
}
.mt-heading.text-left span,
.mt-heading.text-right span {
    padding-left: 25px;
}
.mt-heading-double-line {
    background: url(../../images/double-line.png) center center repeat-x;
    border-bottom: none;
    height: 40px!important;
    line-height: 40px!important;
    padding: 0!important;
}
.mt-heading-dashed-line {
    background: url(../../images/dashed.png) center center repeat-x;
    border-bottom: none;
    height: 40px!important;
    line-height: 40px!important;
    padding: 0!important;
}
.mt-heading-dotted-line {
    background: url(../../images/dotted.png) center center repeat-x;
    border-bottom: none;
    height: 40px!important;
    line-height: 40px!important;
    padding: 0!important;
}
.mt-heading.text-center span {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}
.mt-heading-icon-right {
    margin-left: 10px;
}
.mt-heading-icon-left {
    margin-right: 10px;
}

/* Heading Shortcode */

.mt-highlight-yellow,
.mt-highlight-yellow a {
  background-color: #FFF7A8;
  color: #695D43;
}
.mt-highlight-blue,
.mt-highlight-blue a {
  background: #e9f7fe;
  color: #5091b2;
}
.mt-highlight-green,
.mt-highlight-green a {
  background: #ebf6e0;
  color: #5f9025;
}
.mt-highlight-red,
.mt-highlight-red a {
  background: #ffe9e9;
  color: #de5959;
}
.mt-highlight-gray,
.mt-highlight-gray a {
  background: #f9f9f9;
  color: #666;
}

/* Rounded Image Shortcode */

.mt-rounded-image {
    display: inline-block;
    height: auto;
    padding: 0 15px;
    position: relative;
}
.alignleft {
    float: left;
}
.aligncenter {
    clear: both;
}
.alignright {
    float: right;
}

/* Google Maps Shortcode */

.macho_map_canvas img {
  max-width: none;
}

/* Skill  Bar Shortcode */

.mt-skillbar {
  -moz-border-radius: 3px;
  -moz-transition: .4s linear;
  -moz-transition-property: width, background-color;
  -ms-transition: .4s linear;
  -ms-transition-property: width, background-color;
  -o-transition: .4s linear;
  -o-transition-property: width, background-color;
  -webkit-border-radius: 3px;
  -webkit-transition: .4s linear;
  -webkit-transition-property: width, background-color;
  background: #eee;
  border-radius: 3px;
  display: block;
  height: 35px;
  margin-bottom: 15px;
  position: relative;
  transition: .4s linear;
  transition-property: width, background-color;
  width: 100%;
}
.mt-skillbar-title {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 3px;
  background: #6adcfa;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  position: absolute;
  top: 0;
}
.mt-skillbar-title span {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
}
.mt-skillbar-bar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #6adcfa;
  border-radius: 3px;
  height: 35px;
  width: 0;
}
.mt-skill-bar-percent {
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 10px;
  top: 0;
}

/* CallOut Shortcode */

.mt-callout-wrapper {
  padding-left: 25px;
  padding-right: 15px;
}
.mt-callout {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 1170px;
}
.mt-callout-caption p{
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 20px;
}

.mt-callout-button .button {
  border: 1px solid #FFF;
}
body .btn-ghost-white {
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 14px 44px;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (max-width: 520px) {
  .mt-callout-caption {
    text-align: center;
  }
  .mt-callout-button {
    display: block;
    float: none;
    text-align: center;
  }

}
/* Pricing Table Shortcode */

.mt-pricing-table .mt-pricing-content ul li.unchecked {
  opacity: .5;
}
.mt-pricing-table {
  list-style: none;
  margin: 10px auto;
  padding: 0;
}
.mt-pricing-table div {
  list-style: none;
}
.mt-pricing-table > div {
  font-family: 'Source Sans Pro';
  list-style: none;
  margin-bottom: 0;
  text-shadow: none;
}
.mt-pricing-table .mt-pricing-header {
  background: #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 30px;
  text-align: left;
}
.mt-pricing-table .mt-pricing-header h5 {
  color: #1b1b1b;
  font-size: 18px;
  margin: 0;
  padding: 30px 0 15px 0;
  font-family: 'Oxygen', 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #f0f0f0;
}
.mt-pricing-table .mt-pricing-cost {
  border-bottom: 2px solid #f0f0f0;
  color: #363636;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.5;
  padding: 15px 0;
}
.mt-pricing-table .featured .mt-pricing-header {
  background: #2ecc71;
  border-bottom: 0;
  color: #fff;
}
.mt-pricing-table .featured .mt-pricing-header h5 {
  color: #fff;
}
.mt-pricing-table .featured .mt-pricing-cost,
.mt-pricing-table .featured .mt-pricing-per {
  color: #FFF;
}
.mt-pricing-table .mt-pricing-per {
  color: #1b1b1b;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}
.mt-pricing-table .mt-pricing-content {
  background: #fff;
  font-size: .857em;
  padding: 20px 0 10px;
  text-align: center;
}
.mt-pricing-table .mt-pricing-content ul {
  list-style: none!important;
  margin: 0!important;
}
.mt-pricing-table .mt-pricing-content ul li {
  color: #363636;
  font-size: 15px;
  list-style: none !important;
  margin: 0 !important;
  padding: 10px 30px !important;
  text-align: left;
  text-transform: capitalize;
}
.mt-pricing-table .mt-pricing-content ul li.checked:before {
  color: #2ecc71;
  content: '\f00c';
  font-family: FontAwesome;
  margin-right: 10px;
}
.mt-pricing-table .mt-pricing-content ul li.unchecked:before {
  color: #a1b1bc;
  content: '\f00d';
  font-family: FontAwesome;
  margin-right: 10px;
  opacity: .65;
}
.mt-pricing-table .mt-pricing-button {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #fff;
  padding: 15px 0 30px 30px;
  text-align: left;
}
.mt-pricing-table .mt-pricing-button .mt-button {
  float: none;
  margin: 0 auto;
}
.mt-button {
  background: #FFF;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Source Sans Pro', Helvetica, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 5px 5px 5px 0;
  nowhitespace: afterproperty;
  outline: none;
  text-align: center;
  text-decoration: none!important;
  white-space: nowrap;
}
.mt-button span.mt-button-inner {
  background: #2ecc71;
  border: 2px solid;
  border-color: #2ecc71;
  border-radius: 3px;
  color: #FFF;
  display: block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: .8em;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.mt-button:active {
  background: #2ecc71;
  text-decoration: none;
}
.mt-button:hover span.mt-button-inner {
  color: #FFF;
}
.mt-button:hover {
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
  background-color: #2ecc71;
  opacity: 0.9;
  text-decoration: none;
}
.mt-button.left {
  float: left;
}
.mt-button.right {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
.mt-button.aligncenter {
  display: block;
  margin: 0 auto;
}
.mt-button-icon-left {
  margin-right: 7px;
}
.mt-button-icon-right {
  margin-left: 7px;
}
@media only screen and (max-width: 520px) {
  .mt-pricing-table > div {
    margin-bottom: 25px;
  }
}

/* Pie Chart Shortcode */

.mt-chart {
  display: block;
  height: 110px;
  margin: 50px auto;
  position: relative;
  text-align: center;
  width: 110px;
}
.mt-chart canvas {
  left: 0;
  position: absolute;
  top: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  font-size: .8em;
  margin-left: .1em;
}
.mt-pie-chart-custom-text {
  color: #a1b1bc;
  display: block;
  font-size: 28px;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mt-pie-chart-custom-icon i {
  color: #2ecc71;
  font-size: inherit;
  line-height: inherit;
}

/* List with icons shortcode */
.list-with-icons {
    list-style: none;
}

/* Team Shortcode */

.mt-team {
  border-radius: 4px;
  display: inline-block;
  height: auto;
  padding: 0 15px;
  position: relative;
  text-align: center;
}
.mt-team:hover:after {
  width: 40px;
}
.mt-team-img {
  -moz-transition: all .4s cubic-bezier(0.805, 0.075, 0.315, 1.410);
  -o-transition: all .4s cubic-bezier(0.805, 0.075, 0.315, 1.410);
  -webkit-transition: all .4s cubic-bezier(0.805, 0.075, 0.315, 1.410);
  border-radius: 50%;
  margin-bottom: 15px;
  transition: all .4s cubic-bezier(0.805, 0.075, 0.315, 1.410);
  max-width: 150px;
}


.mt-team:hover .mt-team-img {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  opacity: .75;
  transform: scale(0.9);
}
.mt-team-image {
  padding: 0!important;
}
.mt-team-description {
  -moz-transition: all .35s ease;
  -webkit-transition: all .35s ease;
  background: #363636;
  left: 10%;
  margin-top: 15px;
  opacity: 0;
  padding: 14px 0;
  position: absolute;
  z-index: 2;
  transition: all .35s ease;
  visibility: hidden;
  width: 80%;
}
.mt-team-description:before {
  border-bottom: 6px solid #363636;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: -6px;
  width: 0;
}
.mt-team-member-name {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  text-transform: capitalize;
}
.mt-team-member-name a {
  color: #363636;
}
.mt-team-member-description {
  color: #2ecc71;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}
.mt-team-member-icon {
  display: inline-block;
  margin-right: 12px;
  text-align: center;
}
.mt-team-member-icon:last-of-type {
  margin-right: 0;
}
.mt-team-member-icon a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

.mt-team-description.mt-is-visible {
  opacity: 1;
  visibility: visible;
}